%h1.title User's Activities

= form_tag user_activity_counts_path(params[:id]), :method => :post, :multipart=>true do

  = label :user, :name, 'User Name: '+@user.name.to_s
  = file_field_tag :file
  %input{:type => "hidden", :value=> @user.id, :name=>"id"}
  = submit_tag 'Upload'

%p
= link_to 'Back to user list', users_path

%p= show_flash

= javascript_include_tag 'protovis.js'

%table#table
  %thead
    %tr
      %th Actividad Semanal Promedio

%section
  %script{:type => "text/javascript+protovis"}

    var nba = #{@dTable}
    \/* Convert from tabular format to array of objects. */
    var cols = nba.shift();
    nba = nba.map(function(d) pv.dict(cols, function() d[this.index]));
    cols.shift();

    \/* The color scale uses noniles per dimension. */
    var fill = pv.dict(cols, function(f) pv.Scale.quantile()
    \.quantiles(9)
    \.domain(nba.map(function(d) d[f]))
    \.range("#CCCCFF", "#330066"));

    \/* The cell dimensions. */
    var w = 50, h = 20;

    var vis = new pv.Panel()
    \.width(cols.length * w)
    \.height(nba.length * h)
    \.top(60.5)
    \.left(50.5)
    \.right(.5)
    \.bottom(.5);

    vis.add(pv.Panel)
    \.data(cols)
    \.left(function() this.index * w)
    \.width(w)
    \.add(pv.Panel)
    \.data(nba)
    \.top(function() this.index * h)
    \.height(h)
    \.strokeStyle("white")
    \.lineWidth(1)
    \.fillStyle(function(d, f) fill[f](d[f]))
    \.title(function(d, f) d.Name + "'s " + f + ": " + d[f]);

    vis.add(pv.Label)
    \.data(cols)
    \.left(function() this.index * w + w / 2)
    \.top(0)
    \.textAngle(-Math.PI / 2)
    \.textBaseline("middle");

    vis.add(pv.Label)
    \.data(nba)
    \.left(0)
    \.top(function() this.index * h + h / 2)
    \.textAlign("right")
    \.textBaseline("middle")
    \.text(function(d) d.Name);

    vis.render();



