%h1.title All Users

.map
  %div#map

%input#gps{:type => "hidden", :value => @gpsJson}
= javascript_include_tag '/assets/maps/OpenLayers'
= javascript_include_tag '/assets/maps/locations'

:javascript
  initMap($("#gps").val());

%table#table
  %thead
    %tr
      %th Name
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= link_to "Upload JSON places", user_path(user)
        %td= link_to "Upload JSON activities", users_activity_path(user)
        %td= link_to "Delete", user_path(user), :method => :delete, :confirm => 'Are you sure?'

%p= show_flash

%p=link_to "Create new user", new_user_path

